<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<body>

	<h1>Upload Files</h1>

	<form method="POST" action="/uploadForm" enctype="multipart/form-data">
		<p>JSON: <input type="text" name="json" /></p>
		<p>URL: <input type="text" name="url" /></p>
		<input type="file" class="form-control" id="files"
			   placeholder="Upload Multiple Files"  name="files" multiple="multiple"/>
		<br/>
		<br/>
		<input type="submit" value="Submit" />
	</form>

	<table>
		<thead>
		<tr>
			<th> Preview </th>
			<th> Name </th>
		</tr>

		</thead>
		<tbody>
		<tr th:if="${images.empty}">
			<td colspan="2"> No Images Available </td>
		</tr>
		<tr th:each="image : ${images}">
			<td><img th:src="@{/images/{image}(image=${image.md5})}"/></td>
			<td><span th:text="${image.name}"> Name </span></td>
		</tr>
		</tbody>
	</table>

	</body>
</html>